<div class="content">
    <h3>表单示例</h3>

    <label>姓名：
        <input type="text" [(ngModel)]="person.username">
    </label>
    
    <label>性别：
        <label><input type="radio" value="男" [(ngModel)]="person.sex">男</label>
        <label><input type="radio" value="女" [(ngModel)]="person.sex">女</label>
    </label>

    <label>城市：
        <select [(ngModel)]="person.city">
            <option [value]="item" *ngFor="let item of cities">{{item}}</option>
        </select>
    </label>

    <label>爱好：
        <label><input type="checkbox" value="吃饭" [(ngModel)]="person.hobby[0]">吃饭</label>
        <label><input type="checkbox" value="睡觉" [(ngModel)]="person.hobby[1]">睡觉</label>
        <label><input type="checkbox" value="写代码" [(ngModel)]="person.hobby[2]">写代码</label>
    </label>
    
    <label>备注：
        <textarea rows="3" cols="30" [(ngModel)]="person.mark"></textarea>
    </label>
    <button (click)="submit()">提交</button>

    <p>{{person|json}}</p>

    <h3 id="title">父子组件通信</h3>
    <p>{{msg3}}</p>
    <button (click)="parentFn()">子组件调用父组件的方法</button>
</div>

